@media(max-width: 450px){
    .s-info-header{
        width: 300px;
    }
    .s-info-header span{
        font-size: x-small;
    }
    .info-background{
        width: 300px;
        visibility: hidden;
        opacity: 0;
    }
}


.s-info-header {
    background-color: black;
    align-self: center;
    justify-self: center;
    height: 99vh;
    width: 150vh;
    margin-top: 100px;
    border-radius: 15px;
}

.s-info-header .info_sobre {
    display: flex;
    position: absolute;
    margin-top: 25px;
    width: 95%;
    justify-content: center;
    color: white;
    cursor: default;
    margin: 30px;
    margin-right: 30px;
}

.s-info-header{
    position: relative;
    display: flex;
    justify-content: start;
    justify-items: center;
    flex-direction: column;
    padding: 1em 2em;

}

.s-info-header span{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 1em;
}

.s-info-header .info_sobre_nos {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 1em;
    color: white;

}

.s-info-header .info_sobre {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 1em;
    color: white;

}
.s-info-header .info_servicos {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 1em;
    color: white;

}

.s-info-header .info_carreiras {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 1em;
    color: white;

}

.s-info-header .info_midias{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin: 1em;
    color: white;
 
}

@media (max-width: 450px){
    .s-info-header {
        background-color: black;
        align-self: center;
        justify-self: center;
        height: 99vh;
        width: 98vw;
        margin: 1em;
        border-radius: 15px;
    }

}
