@font-face {
    font-family: pixel;
    src: url("fonts/pixel_font.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pixel;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body{
    min-height: 100vh;
}



.sidebar{
    top: 7px;
    width: 330px;
    position: fixed;
    margin: 5px;
    border-radius: 16px;
    height: calc(99vh - 16px);
    background-color: black;
    transition: 0.4s ease;
}
.side_bar_nav .link-tip{
    opacity: 0;
    display: flex;
    pointer-events: none;
    position: absolute;
    white-space: nowrap;
    background: white;
    flex-direction: column;
    left: calc(100% + 10px);
    transform: translateY(-65px);
    padding: 3px 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.829);
    font-size: small;
    transition: 0s;
    color: black;
    visibility: hidden;
}

.side_bar_nav .nav_iten:hover .link-tip{
    opacity: 1;
    pointer-events: auto;
    transition: 0.4s ease;
    transform: translateY(-45px);

}
.sidebar.collapsed .link-tip{
    visibility: visible;
}

.sidebar.collapsed{
    top: 9px;
    width: 85px;
    transform: translateX(10px);
    height: calc(98vh - 16px);
}

.side_bar_nav .nav-link .nav-label{
    transition: 0.4s ease;
}

.sidebar.collapsed .side_bar_nav .nav-link .nav-label{

opacity: 0;
pointer-events: none;

}

.sidebar .nav-link{
    color: azure;
    text-decoration: none;
}

.side_bar_header .sidebar-text{
    position: relative;
    display: flex;
    transform: translateX(120px);
    color: rgb(255, 255, 255);
    transition: 0.4s ease;

    align-items: center;
    border-radius: 5px;

}

.side_bar_header .logo-img{
    position: absolute;
    scale: 125%;
    transform: translateY(-2px);
    left: 20px;
    transition: 0.4s;
}




.side_bar_header .toggler{
    height: 35px;
    position: absolute;
    right: -7px;
    top: 15px;
    width: 15px;
    border: none;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;   
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;

    background: rgb(0, 0, 0);
    transition: 0.4s;

}

.sidebar.collapsed .side_bar_header .sidebar-text{
    transform: translate(-22px, 90px);
    scale: 80%;
}

.sidebar.collapsed .side_bar_header .logo-img{
    scale: 100%;
    transform: translate(-5px, 10px);
    animation: infinite;
    animation-duration: 0.5S;
    animation-direction: normal;
    
}

.sidebar.collapsed .side_bar_header .toggler{
    transform: translateY(20px);
}

.side_bar_header .toggler:hover{
    background: white;
    color: rgb(0, 0, 0);
}

.side_bar_header{
    display: flex;
    padding: 25px 20px;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
}

.side_bar_nav .nav_list{
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(35px);
    transition: 0.4s;
}

.side_bar_nav .nav-link {
    color: white;
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 12px 15px;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    transition: 0.4s ease;
    border-radius: 5px;
}

.side_bar_nav .nav-link:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.side_bar_nav .secundary_nav{
    position: sticky;
    bottom: 8vh;
    margin-top: 374px;
}

.sidebar.collapsed .side_bar_nav .primary_nav{
    transform: translateY(65px);

}

.sidebar.collapsed .side_bar_nav .secundary_nav{
    transform: translateY(-20px);
    margin-top: 462px;
}
.sidebar.collapsed .dev_menu{
    margin-top: 34px;
}

.side_bar_nav .dev_menu{
    position: sticky;
    margin-top: 4px;
    top:60lvh;
}

.side_bar_nav .dev-toggler {
    color: white;
    display: flex;
    border: none;
    gap: 12px;
    align-items: center;
    padding: 12px 15px;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.4s ease;
    border-radius: 5px;

}

.side_bar_nav .dev-toggler:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.side_bar_nav .dev-toggler .nav-label{
    transition: 0.4s ease;
}

.sidebar.collapsed .side_bar_nav .dev-toggler .nav-label{

opacity: 0;
pointer-events: none;

}


.side_bar_nav .dev-menu-list{
    width: 200px;
    display: block;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    align-items: center;
    left: 300px;
    transform: translateY(-120px);
    background-color: black;
    transition: 0.4s ease;
    z-index: -1;
    cursor: pointer;
}
.dev-menu-list.collapsed{
    left: 12px;
    opacity: 0;
    visibility: hidden;
    width: 10px;
    scale: 55%;
    transform: translateY(-190px);

}
.dev-menu-list .link-tip{
    visibility: hidden;
}
.sidebar.collapsed .dev-menu-list{
left: 65px;
}
.sidebar.collapsed .dev-menu-list.collapsed{
    left: 0px;
    opacity: 0;
    visibility: hidden;
}
.side_bar_nav .nav-link .current-link{
    color: rgb(0, 0, 0);
}

.background {
    position: sticky;
    background-image: url("img/background.jpg");
    background-position: center;
    background-size: cover;

    height: 100vh;


}

.info-background{

    width: calc(117vh - 16px);
    position: absolute;
    margin-top: 330px;
    margin-left: 23%;
    border-radius:150px;
    height: calc(100vh - 16px);
    background-color: rgb(0, 0, 0);

}
.s-info-header{
    top: 260px;
    width: calc(200vh - 25vh);
    position: absolute;
    margin: 125px;
    border-radius: 16px;
    height: calc(150vh - 16px);
    background-color: black;
}

.info-background-txt{
    font-size: x-large;
    display: flex;
    position: absolute;
    margin-top: 25px;
    width: 95%;
    justify-content: center;
    color: white;
    cursor: default;
}
.theme-l{
    display: block;
    transform: translateX(00px);
    color: white;
    margin: 50px;
    animation: appear-l-t ease-in-out;
    animation-duration: 1.4s;
}
@keyframes appear-l-t{
    0%{
        opacity: 0;
        scale: 50%;
        transform: translateX(-300px);
    }
    100%{
        opacity: 1;
        scale: 100%;

    }
}
.info-txt-l{
    display: block;
    margin-inline: auto;
    width: 50em;
    text-align: left;
    position: sticky;
    transform: translateX(300px);
    margin: 40px;
    color: white;
    animation: appear-l ease-in-out;
    animation-duration: 1.4s;
}
@keyframes appear-l{
    0%{
        opacity: 0;
        transform: translateX(200px);
    }
    100%{
        opacity: 1;
        transform: translateX(300px);

    }
}
.theme-r{
    position: sticky;
    display: block;
    text-align: right;
    transform: translateX(00px);
    color: white;
    margin: 50px;
    animation: appear-r-t ease-in-out;
    animation-duration: 1.4s;
    animation-timeline: scroll();
    animation-range: 0%, 60%;
}
@keyframes appear-r-t{
    0%{
        opacity: 0;
        scale: 50%;
        transform: translateX(300px);
    }
    100%{
        opacity: 1;
        scale: 100%;

    }
}
@keyframes appear-r{
    0%{
        opacity: 0;
        transform: translateX(95px);
    }
    100%{
        opacity: 1;
        transform: translateX(-5px);

    }
}
.info-txt-r{
    display: block;
    margin-inline: auto;
    width: 50em;
    text-align: right;
    position: sticky;
    transform: translateX(300px);
    margin: 40px;
    color: white;
    animation: appear-r ease-in-out;
    animation-duration: 1.4s;
    animation-timeline: scroll();
    animation-range: 0%, 60%;
}
