.background {
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.anuncios_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url("../img/background.jpg"); 
    background-size: cover;
    background-position: center;
}
.anuncios_box {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 30px 40px;
    border-radius: 20px;
    max-width: 600px;
    width: 90%;
    color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    text-align: center;
}
.anuncios_box h1 {
    margin-bottom: 20px;
    font-size: 2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 5px;
}
.anuncio_texto {
    font-size: 1em;
    line-height: 1.4em;
}
.anuncio_imagem_container {
    width: 350px;
    overflow: hidden;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    transition: box-shadow 0.4s ease; 
    border: 0 solid white;
}
.anuncio_imagem {
    width: 100%;
    display: block;
    transition: transform 0.4s ease;
}
.anuncio_imagem_container:hover {
    border: 4px solid white;
    box-shadow: 0 0 0 4px white, 0 0 10px white;
}
.anuncio_imagem_container:hover .anuncio_imagem {
    transform: scale(1.1); 
}
.anuncio_imagem_container:hover {
    box-shadow: 0 0 0 4px white; 
}
.anuncio_divisor {
    width: 80%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3); 
    margin: 20px auto; 
    border-radius: 1px;
}

@media(max-width: 450px){
    .anuncio_imagem{
        width: 70%;
        border-radius: 15px;
    }
}