.background {
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

span, h2{
    color: white;
}

.info_body{
    background-color: black;
    display: flex;
    position: relative;
    justify-self: center;
    margin-top: 35px;
    margin-left: 90px;
    height: 90vh;
    width: 170vh;
    border-radius: 15px;
}

.zanini{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 30px;
    color: white;
    font-size: large;
}

.wilhelm {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 30px;
    color: white;
    font-size: large;
}



